<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class="container-fluid">
    <br><br>
    <div>
      <img src="assets/img/login.png" alt="iniciarSesion">
    </div>
    <br>
    <form class="formulario" [formGroup]="miFormulario">
      <div>
        <label>Ingresa tu Usuario</label>
        <input type="email" class="input email" placeholder="Ingrese su correo electronico" formControlName="username"
          [pattern]="emailCheck">
        <span *ngIf="emailReq()" class="form-text text-danger">Dirección de correo no válida</span>
        <span *ngIf="emailPattern()" class="form-text text-danger">Patrón incorrecto</span>
      </div>
      <div>
        <label>Ingresa tu Contraseña</label>
        <input type="password" class="input pass" placeholder="Ingrese su contraseña" formControlName="password">
        <span class="form-text text-danger" *ngIf="campoValido('password')">Minimo 8 caracteres</span>
      </div>
      <div class="botones">
        <!-- <a [routerLink]="['/recovery']" class="btn-link">Olvide mi contraseña</a> -->
        <button *ngIf="miFormulario.invalid" disabled class="btn btn-primario"> INICIAR SESIÓN</button>
        <button *ngIf="miFormulario.valid" type="sumbit" class="btn btn-primario" (click)="save()"> INICIAR
          SESIÓN</button>
        <p class="text-body1 btn">¿No tienes cuenta? <a [routerLink]="['/register']"
            class="btn-link">Registrate</a> </p>
      </div>
    </form>
  </div>
</ion-content>